{% extends 'admin/base.html' %}
{% block content %}
    {% load dashboard %}
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 10px">
               <div class="card-header row">
            <div class="col">
                <h2 class="display-5">{% t 'ads' %}</h2>
            </div>
            <div class="col text-right">
                {% add_btn 'adv' 'sm' %}
            </div>
        </div>
                <div class="card-body">
                    {% if advs %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% t 'sn' %}</th>
                                <th>{% t 'name' %}</th>
                                <th>{% t 'location' %}</th>
                                <th>{% t 'image' %}</th>
                                <th>{% t 'load_count' %}</th>
                                <th colspan="3">{% t 'actions' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ad in advs %}
                                <tr id="item-{{ ad.id }}">
                                    <td>{{ forloop.counter|nd }}</td>
                                    <td>{{ ad.name}}</td>
                                    <td>{{ ad.location}}</td>
                                    <td>{{ ad.image}}</td>
                                    <td>{{ ad.load_count}}</td>
                                    <td width="30px">{% edit_btn 'adv' ad.id 'sm' %}</td>
                                    <td width="30px">{% delete_btn 'adv' ad.id 'sm' %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    {% else %}
                        <p class="text-danger">
                            <strong>There are no Ads.</strong>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}