{% if first_posts %}
        {%for post in first_posts %}
            <div class="row">
                <div class="col text-center" style="margin-top:10px;">
                    <h2 class="blog-post-title"><a class="first_post_title_link" href="{{ post.permalink}}">{{ post.title }}</a></h2>
                </div>
            </div>
    <div class="jumbotron first_post p-4 p-md-5 text-white bg-primary" style="background: url('{{ post.thumbnail_url }}')">
        <div class="col-md-6 px-0">
            <p class="lead my-3">
                    {{ post.intro }}
            </p>
        </div>
    </div>
        {% endfor %}
    {% endif %}
