<footer class="blog-footer">
    <p>&copy; Reader's Club Nepal, 2020 Designed by <a href="http://pradeeps.com.np">Gaindakot Info Devs</a>.
    </p>
    <p>
        <a data-scroll href="#top">Back to top</a>
    </p>
</footer>
</body>
</html>
