{% if second_posts %}
    {% load thumbnail %}
    <div class="row mb-2">
        {% for post in second_posts %}
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        {% for category in post.categories.all %}
                            <strong class="d-inline-block mb-2 text-primary"><a href="{% url 'category' category.id %}">{{ category.name }}</a></strong>
                        {% endfor %}
                        <h3 class="mb-0">{{ post.title }}</h3>
                        <div class="mb-1 text-muted">{{ post.published_date }} {{ post.published_time }}</div>
                        <p class="card-text mb-auto">{{ post.intro }}</p>
                        <a href="{{ post.permalink }}" class="stretched-link">Read more..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        {% thumbnail post.thumbnail.file "200x250" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}