{% load posts %}
{% load ads %}
<aside class="col-md-4 blog-sidebar">
    {% ads 'before-widget' 3 %}
    <div class="fb-page"
         data-href="https://www.facebook.com/Readers-Club-Nepal-101118118507698/"
         data-width="380"
         data-hide-cover="false"
         data-show-facepile="false"></div>
    {% ads 'sidebar1' 3 %}
    <div class="p-4 mb-3">
        <h4 style="margin-bottom: 20px">भर्खरै प्रकाशित</h4>
        {% recent_posts 'any' %}
    </div>
    {% ads 'sidebar2' 3 %}
    <div class="p-4">
        <h4 style="margin-bottom: 20px;">धेरै पढिएका</h4>
        {% top_posts %}
    </div>
    {% ads 'sidebar3' 3 %}
    <div class="p-4 mb-3">
        <h4 style="margin-bottom: 20px">अन्तर्वार्ता</h4>
        {% recent_posts 'interviews' %}
    </div>
    {% ads 'after-widget' 3 %}
</aside><!-- /.blog-sidebar -->