<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Login</title>
    {% load static %}

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body class="hold-transition login-page">

{% block content %}

{% endblock %}
<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminlte/dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/toastr/toastr.min.js' %}"></script>
<script>
    {% if messages %}
    {% for message in messages %}
       {% if message.tags == 'error' %}
            toastr.error('{{message}}')
       {% endif %}

       {% if message.tags == 'info' %}
            toastr.info('{{message}}')
       {% endif %}

       {% if message.tags == 'success' %}
            toastr.success('{{message}}')
       {% endif %}

       {% if message.tags == 'warning' %}
            toastr.warning('{{message}}')
       {% endif %}
    {% endfor %}
    {% endif %}
</script>
</body>
</html>
