{% extends 'login/base.html' %}
{% block content %}
    {% load static %}
    {% load crispy_forms_tags %}
    <div class="login-box">
        <div class="login-logo">
            <a href="/">
                <img height="50px" src="{% static 'assets/images/logo.svg' %}" alt=""
                     class="brand-image" style="opacity: .8">
            </a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body" style="padding: 40px">
                <p class="login-box-msg">Sign in to start your session</p>

                <form action="{% url 'login_create' %}" method="post">
                    {% csrf_token %}
                        {{ form.email|as_crispy_field }}
                        {{ form.password | as_crispy_field }}
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-success btn-block">Login</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
{% endblock %}