{% extends 'admin/base.html' %}
{% block content %}
    {% load dashboard %}
    {% load static %}
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 10px">
                <div class="card-header row">
                    <div class="col">
                        <h2 class="display-5">{% t 'authors' %}</h2>
                    </div>
                    <div class="col text-right">
                        <a class="btn btn-sm btn-primary" href="{% url 'add_author' %}"> <i
                                class="fas fa-plus-circle"></i> New</a>
                    </div>
                </div>
                <div class="card-body">
                    {% if authors %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% t 'sn' %}</th>
                                <th>{% t 'image' %}</th>
                                <th>{% t 'name' %}</th>
                                <th colspan="3">{% t 'actions' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for author in authors %}
                                <tr id="item-{{ author.id }}">
                                    <td>{{ forloop.counter|nd }}</td>
                                    <td><img width="50" height="50" alt="{{ author.name }}"
                                             src="{% get_media_prefix %}{{ author.avatar }}"/></td>
                                    <td>{{ author.name }}</td>
                                    <td width="30px">{% edit_btn 'author' author.id 'sm' %}</td>
                                    <td width="30px">{% delete_btn 'author' author.id 'sm' %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    {% else %}
                        <p class="text-danger">
                            <strong>There are no Categories.</strong>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}