{% extends 'admin/base.html' %}
{% block content %}
    {% load dashboard %}
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 10px">
               <div class="card-header row">
            <div class="col">
                <h2 class="display-5">{% t "Tasks" %}</h2>
            </div>
            <div class="col text-right">
                <a class="btn btn-sm btn-success" href="{% url 'start_task_runner' %}"> <i fas fa-play></i> Start</a>
            </div>
        </div>
                <div class="card-body">
                    {% if tasks %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% t 'sn' %}</th>
                                <th>{% t 'name' %}</th>
                                <th colspan="3">{% t 'actions' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td>{{ forloop.counter|nd }}</td>
                                    <td>{{ task }}</td>
                                    <td width="30px">{% delete_btn 'task' task.id 'sm' %}</td>
                                    <td width="30px"></td>
                                    <td width="30px"></td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    {% else %}
                        <p class="text-danger">
                            <strong>There are no Posts.</strong>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}