{% extends 'admin/base.html' %}
{% block content %}
    {% load dashboard %}
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 10px">
                <div class="card-header row">
                    <div class="col">
                        <h2 class="display-5">{% t post_type %}</h2>
                    </div>
                    <div class="col text-right">
                        <a class="btn btn-sm btn-primary" href="{% url 'add_post' post_type %}"> <i
                                class="fas fa-plus-circle"></i> {% t post_type %}</a>
                    </div>
                </div>
                <div class="card-body">
                    {% if page_obj %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% t 'sn' %}</th>
                                <th>{% t 'title' %}</th>
                                <th>{% t 'status' %}</th>
                                <th colspan="3">{% t 'actions' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in page_obj %}
                                <tr id="item-{{ post.id }}">
                                    <td>{{ forloop.counter|nd }}</td>
                                    <td>{{ post.title }}</td>
                                    <td>{{ post.status }}</td>
                                    <td width="30px">{% edit_btn 'post' post.id 'sm' %}</td>
                                    <td width="30px">{% delete_btn 'post' post.id 'sm' %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>

                        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
                        </div>

                    {% else %}
                        <p class="text-danger">
                            <strong>There are no Posts.</strong>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}