{% extends 'admin/base.html' %}
{% block content %}
    {% load static dashboard crispy_forms_tags %}
    {% load dashboard %}
    {% load crispy_forms_tags %}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 10px">
                <div class="card-header row">
                    <div class="col">
                        <h2 class="display-5">{% t post_type %} {% t 'add_or_update' %}</h2>
                    </div>
                    <div class="col text-right">

                    </div>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col">
                                        {{ form.title|as_crispy_field }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div style="width: 100%!important;">{{ form.content|as_crispy_field }}</div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        {{ form.excerpt|as_crispy_field }}
                                    </div>
                                </div>

                            </div>
                            <div class="col-4" style="background: #fbfbfb;">
                                <div class="row">
                                    <div class="col">
                                        <button style="width: 100%" class="btn btn-primary" type="submit"><i
                                                class="fas fa-save"></i>
                                            {% t 'save' %}</button>
                                    </div>
                                </div>
                                <input type="hidden" name="post_type" value="{{ post_type }}">
                                <div class="row">
                                    <div class="col">
                                        {{ form.priority|as_crispy_field }}
                                    </div>

                                    <div class="col">
                                        {{ form.status|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form.publish_at|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form.categories|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form.authors|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form.thumbnail|as_crispy_field }}
                                        <label>तस्बिर*</label>
                                        <a id="btn-browser"
                                           data-url="{% url 'media_browser' 'image' %}?return=id&target=id_thumbnail&ckeditor=false"
                                           class="btn btn-primary btn-sm text-white">
                                            <i class="fas fa-image"></i> खोज्नुस्
                                        </a>
                                        <img id="id_thumbnail_preview" src="" width="100px" height="100"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        CKEDITOR.replace('id_content', {
            customConfig: '',
            filebrowserBrowseUrl: "{% url 'media_browser' 'document' %}",
            filebrowserUploadUrl: '{% url 'ckupload' %}',
            filebrowserImageBrowseUrl: '{% url 'media_browser' 'image' %}',
            filebrowserImageUploadUrl: '{% url 'ckupload' %}'
        });
    </script>
{% endblock %}