<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Readers Club Nepal</title>
    {% load static %}
    {% load dashboard %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yantramanav&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'jquery-confirm/jquery-confirm.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/toastr/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <style rel="stylesheet">
        body {
            font-family: 'Yantramanav', Source Sans Pro;
            font-size: 18px;
        }
    </style>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
</head>
<body class="hold-transition">
<div class="container">
    <input type="hidden" value="{{ csrf_token }}" id="csrf_token">
    <div class="wrapper">

        {% block content %}
        {% endblock %}
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/toastr/toastr.min.js' %}"></script>
<script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                toastr.error('{{message}}')
            {% endif %}

            {% if message.tags == 'info' %}
                toastr.info('{{message}}')
            {% endif %}

            {% if message.tags == 'success' %}
                toastr.success('{{message}}')
            {% endif %}

            {% if message.tags == 'warning' %}
                toastr.warning('{{message}}')
            {% endif %}
        {% endfor %}
    {% endif %}


    $(document).ready(function () {
        $('.image').on('click', function () {
            const el = $(this)
            var return_type = el.data('return')
            var ckeditor = el.data('ckeditor')
            var target = window.opener.document.getElementById(el.data('target'))
            image = window.opener.document.getElementById(el.data('target') + '_preview')
            var url = el.data('url')
            if (ckeditor == false) {
                image.setAttribute('src', url)
                target.setAttribute('value', el.data('id'))
            } else {
                window.opener.CKEDITOR.tools.callFunction({{ cke_func_num }}, url, '')
            }
            window.close()
        });
    });
</script>
</body>
</html>
