{% extends 'media/base.html' %}
{% load crispy_forms_tags %}
{% load dashboard sorl_thumbnail %}
{% block content %}
    <div class="bg-white row">
        <div class="col-12">
            <h3>फाइल अपलोड गर्नुहोस</h3>
            <hr>
            <form method="post" action="{{ url }}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col">{{ form.title|as_crispy_field }}</div>
                    <div class="col">{{ form.description|as_crispy_field }}</div>
                    <div class="col">{{ form.media_type|as_crispy_field }}</div>
                    <div class="col">{{ form.file|as_crispy_field }}</div>
                    <div class="col">
                        <button style="margin-top: 30px;" class="btn btn-sm btn-primary" type="submit"><i
                                class="fas fa-upload"></i> Upload
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row bg-white">
        <div class="col">
            <hr>
            <h3>अपलोड गरिएका फाइलहरु({% t media_type %}):</h3>
            <hr>
        </div>
    </div>
    <div class="row bg-white">
        <div class="col-12">
            <div class="row">
                {% for file in object_list %}
                    <div class="col-lg-2 col-md-3 col-sm-4" id="item-{{ file.id }}">
                        <a href="{% url 'delete_media' file.id %}"
                           class="btn btn-danger btn-circle btn-sm btn-rcbtr confirm-link"><i
                                class="fa fa-times"></i></a>
                        {% thumbnail file.file "200x200" crop="center" as im %}
                            <img class="image" data-return="{{ return }}" data-target="{{ target }}"
                                 data-ckeditor="{{ ckeditor }}" data-id="{{ file.id }}" data-url="{{ file.file.url }}" style="width: 100%" src="{{ im.url }}">
                        {% endthumbnail %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}