{% extends 'admin/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 10px">
                <div class="card-header">
                    <h2 class="display-5">Delete <strong>{{ menu.name }}</strong> menu ?</h2>
                </div>
                <div class="card-body">
                    <p class="text-info">
                        <b>Are you sure to delete this menu ? </b> <br> All menu items will be deleted permanently.
                    </p>
                    <form method="post" action="{% url 'delete_menu' menu.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i> Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}en