{% extends 'admin/base.html' %}
{% block content %}
    {% load dashboard %}
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 10px">
               <div class="card-header row">
            <div class="col">
                <h2 class="display-5">{% t 'groups' %}</h2>
            </div>
            <div class="col text-right">
                {% add_btn 'group' 'sm' %}
            </div>
        </div>
                <div class="card-body">
                    {% if groups %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% t 'sn' %}</th>
                                <th>{% t 'name' %}</th>
                                <th colspan="3">{% t 'actions' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group in groups %}
                                <tr>
                                    <td>{{ forloop.counter|nd }}</td>
                                    <td>{{ group.name }}</td>
                                    <td width="30px">{% view_btn 'group' group.id 'sm' %}</td>
                                    <td width="30px">{% edit_btn 'group' group.id 'sm' %}</td>
                                    <td width="30px">{% delete_btn 'group' group.id 'sm' %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    {% else %}
                        <p class="text-danger">
                            <strong>There are no Groups</strong>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}