{% extends 'admin/base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 10px">
                <div class="card-header row">
                    <div class="col-6">
            <h1 class="display-5">Add a Group</h1>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-sm btn-warning action-btn" href="{% url 'groups' %}"><i class="fas fa-arrow-left"></i> Back
            </a>
        </div>
                </div>
                <div class="card-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                {{form.name|as_crispy_field }}
                            </div>
                            <div class="col-5">
                                     {{form.available_permissions|as_crispy_field }}
                            </div>
                             <div class="col-2" style="padding-top: 100px;">
                                    <div class="text-center">
                                        <button type="button" id="send_to_slave" class="btn btn-danger-outline"><i
                                                class="fas fa-arrow-circle-right text-danger"></i></button>
                                    </div>
                                    <div class="text-center" id="send_to_master" style="margin-top: 5px;">
                                        <button type="button" class="btn btn-primary-outline"><i
                                                class="fas fa-arrow-circle-left text-primary"></i></button>
                                    </div>
                                </div>
                            <div class="col-5">
                                     {{form.permissions|as_crispy_field }}
                            </div>

                            <div class="col-12 text-right">
                                <button class="btn btn-primary action-btn" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}