{% extends 'admin/base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load dashboard %}
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 10px">
                <div class="card-header">
                    <h2 class="display-5"><strong>{{ group.name }}</strong> Group</h2>
                </div>
                <div class="card-body">
                    {% if group %}
                        <h3 class="display-6">Group Details</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Permissions</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ group.name }}</td>
                                <td>
                                    {% for permission in permissions %}
                                        <span class="badge badge-primary">{{ permission.codename }}</span>
                                    {% endfor %}

                                </td>
                                <td width="30px">{% edit_btn 'group' group.id 'sm' %}</td>
                                <td width="30px">{% delete_btn 'group' group.id 'sm' %}</td>
                            </tr>
                            </tbody>

                        </table>
                    {% else %}
                        <p class="text-danger">
                            <strong>There are no groups.</strong>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}