{% extends 'admin/base.html' %}
{% block content %}
    {% load dashboard %}
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 10px">
                <div class="card-header row">
            <div class="col">
                <h2 class="display-5">{% t 'users' %}</h2>
            </div>
            <div class="col text-right">
                {% add_btn 'user' 'sm' %}
            </div>
        </div>
                <div class="card-body">
                    {% if users %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="70px">{% t 'sn' %}</th>
                                <th>{% t 'name' %}</th>
                                <th>{% t 'email' %}</th>
                                <th>{% t 'phone' %}</th>
                                <th>{% t 'office' %}</th>
                                <th colspan="4">{% t 'actions' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td width="70px">{{ forloop.counter|nd }}</td>
                                    <td>{{ user.get_full_name}}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.office }}</td>
                                    <td width="30px">{% view_btn 'user' user.id 'sm' %}</td>
                                    <td width="30px">{% edit_btn 'user' user.id 'sm' %}</td>
                                    {% if user.is_active %}
                                        <td width="30px">{% deactivate_btn 'user' user.id 'sm' %}</td>
                                    {% else %}
                                          <td width="30px">{% activate_btn 'user' user.id 'sm' %}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    {% else %}
                        <p class="text-danger">
                            <strong>There are no users.</strong>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}