{% extends 'admin/base.html' %}

{% block content %}
    {% load crispy_forms_tags %}

    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 5px">
                <div class="card-header">
                    <h2 class="display-5">Add a User</h2>
                </div>
                <div class="card-body">
                    <form class="form" method="post" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">{{ form.first_name|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.last_name|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form.email|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.password|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col-6"> {{ form.groups | as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary float-right" type="submit"><i class="fas fa-save"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}