{% extends 'admin/base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load dashboard %}
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 10px">
                <div class="card-header">
                    <h2 class="display-5"><strong>{{ user.get_full_name }}</strong></h2>
                </div>
                <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="70px">{% t 'sn' %}</th>
                                <th>{% t 'name' %}</th>
                                <th>{% t 'email' %}</th>
                                <th>{% t 'office' %}</th>
                                <th>{% t 'is_active'%}</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ user.get_full_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.office }}</td>
                                    <td>{{ user.is_active }}</td>
                                </tr>
                            <tr>
                                <td colspan="5">
                                    {% for group in groups %}
                                        <div class="badge badge-primary">{{ group.name }}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            </tbody>

                        </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}