/* stylelint-disable selector-list-comma-newline-after */
p, .p {
    font-family: 'Source Sans Pro', Mukta, sans-serif;
}


.blog-header-logo {
    font-family: 'Source Sans Pro', Mukta;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 12;
    cursor: pointer;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Mukta, Georgia, serif;
    padding-bottom: 20px;
}

.display-4 {
    font-size: 2.5rem;
}
.jumbotron{
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}
.sidethumb{
    width: 50px!important;
    height: 50px!important;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination > .btn {
    border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.text-primary, a.text-primary, a {
    color: #003366 !important;
}

a.text-primary:hover, a:hover {
    color: #f83737 !important;
    text-decoration: none;
}

.nav-item {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Mukta;
    font-weight: bolder;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Mukta, Serif;
}

.read {
    height: 60px;
}

.logo {
    font-size: 35px;
}

.logo-image {
    height: 60px !important;
}

.jumbotron {
    border-radius: 0px;
}
.first_post{
    height: 350px;
}
.btn-outline-primary{
    border-color: #0e2231;
}

.bg-primary{
    background-color: #0e2231!important;
    color: white;
}
.bg-primary a{
    color: white!important;
}
.navbar{
    border-bottom: 3px #062968 solid!important;
}
@media (max-width: 991px) {
    .read {
        height: 35px !important;
    }

    .logo-image {
        height: 45px !important;
    }
}

@media (max-width: 767px) {
    .logo {
        font-size: 18px;
    }

    .logo-image {
        height: 40px !important;
    }

    .navbar-toggler {
        position: absolute;
        right: 50px;
        padding: 2px !important;
        top: -50px;
    }

    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .container, .container-sm {
        max-width: 720px!important;
    }
}

@media (max-width: 320px) {
    .logo-image {
        height: 25px !important;
    }

    .logo {
        font-size: 16px;
    }

    .display-4 {
        font-size: 25px;
    }
}
