.logo-holder {
    clear: both;
    width: 100%;
    height: 56px;
    background: #355981;
    position: absolute;
}

[class*=sidebar-dark-] {
    background-color: #FFFFFF;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #f0f2f5;
}

[class*=sidebar-dark] .user-panel {
    border-bottom: none;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #355981;
}

.badge-danger {
    background-color: #ff5c5c;
}

.btn-primary {
    background-color: #355981;
    border-color: #355981;
}

.btn-danger {
    background-color: #ff5c5c;
    border-color: #ff5c5c;

}

.btn {
    border-radius: 0px;
}

.nav-pills .nav-link {
    border-radius: 0px;
}

.card-primary.card-outline {
    border-top: 3px solid #355981;
}

.lockscreen-item {
    border-radius: 4px;
    background: #fff;
    margin: 10px auto 30px;
    padding: 0;
    position: relative;
    width: 290px;
}

.lockscreen-image {
    border-radius: 50%;
    background: #fff;
    left: -10px;
    padding: 5px;
    position: absolute;
    top: -25px;
    z-index: 10;
}

.action_link {
    padding-left: 5px;
    padding-right: 5px;
}

.action-btn {
    margin-top: 10px;
}

.alert-danger, .alert-error {
    color: #fff;
    background: #ff5c5c;
    border-color: #ff5c5c;
}

select.form-control[multiple] {
    height: 250px;
}

.btn-danger-outline {
    border: 1px #ff5c5c solid;
}

.btn-primary-outline {
    border: 1px solid #355981;
}

.text-primary {
    color: #355981 !important;
}

.form-check {
    margin-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Laila";
}

small {
    color: gray;
}

.card {
    margin-top: 30px !important;
    padding: 10px !important;
}

.brand-image {
    margin-top: 3px;
}

.main-sidebar {
    max-height: 100vh;
    overflow: scroll;
}

.user-panel {
    margin-top: 70px !important;
}

.sidebar {
    padding-right: 0px !important;
}

#id_excerpt, #id_authors, #id_tags {
    height: 100px !important;
}

#div_id_categories > div, #div_id_authors > div {
    height: 100px;
    background: #FFF !important;
    overflow: scroll;
}

#cke_id_content {
    width: 100% !important;
}

#accordion .card {
    margin-top: 0px !important;
    padding: 0px !important;
    margin-bottom: 5px !important;
}

#items .card {
    margin-top: 0px !important;
    padding: 0px !important;
    margin-bottom: 5px !important;
}

#items .card-header {
    padding: 0px !important;
}

.btn-rcbtr {
    position: absolute;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    padding: 0px !important;
    right: 10px;
    top: 2px;
}

.thumbnail-overlay {
    height: 100px;
    text-align: center;
    position: absolute;
    top: 50px;
    padding: 20px;
    font-size: 12px;
    background: #0000006b;
    color: white;
    border-radius: 10px;
    left: 15px;
    right: 15px;
}