{% extends 'blog/base.html' %}
{% load ads %}
{% load thumbnail %}

{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <h1 class="pb-4 mb-4 font-italic border-bottom">
                    {{ category.name }}
                </h1>
                 {% for post in posts %}
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-4">
                          {% thumbnail post.thumbnail.file "300x200" crop="center" as im %}
                            <img src="{{ im.url }}" style="width: 100%">
                        {% endthumbnail %}
                    </div>
                    <div class="col-md-8">

                        <div class="blog-post">
                            <h2 class="blog-post-title"><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
                            <p class="blog-post-meta">{{ post.published_date }} {{ post.published_time }}</p>
                            {{ post.excerpt }}

                        </div><!-- /.blog-post -->
                    </div>
                </div>
              {% endfor %}

            </div><!-- /.blog-main -->

            {% include 'blog/partials/sidebar.html' %}

        </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock %}