{% extends 'blog/base.html' %}
{% load ads %}
{% block content %}
       {% load thumbnail %}

    <main role="main" class="container" style="margin-top: 10px">
        <div class="row">
            <div class="col-md-8 blog-main">
                {% ads 'before-post' 3 %}
                <div class="blog-post">
                    <div class="jumbotron first_post p-4 p-md-5 text-white bg-primary"
                         style="background: url('{{ post.thumbnail.file.url }}')">
                    </div>
                    <h1>{{ post.title }}</h1>
                    <p class="blog-post-meta">
                         {% for category in post.categories.all %}
                            <strong class="d-inline-block mb-2 text-primary"><a href="{% url 'category' category.id %}">{{ category.name }}</a></strong>
                        {% endfor %}<br>
                        {{ post.publish_at }}</p>
                    <div class="sharethis-inline-share-buttons" style="width: 100%"></div>
                    {{ post.html_content }}
                  <div class="sharethis-inline-share-buttons" style="width: 100%"></div>
                    {% if post.authors %}
                        {% for author in post.authors.all %}
                            <div style="margin-top: 20px" class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                 <div class="col-auto d-none d-lg-block">
                                    {% thumbnail author.avatar "200x250" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}
                                </div>
                                <div class="col p-4 d-flex flex-column position-static">
                                     <strong class="d-inline-block mb-2 text-primary">Writer</strong>
                                    <h3 class="mb-0">{{ author.name }}</h3>
                                    <p class="card-text mb-auto">{{ author.description }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <div style="width: 100%" class="fb-comments" data-href="https://readersclubnepal.com{{ post.permalink }}"  data-width="100%"></div>
                    {% endif %}
                </div>
                {% ads 'after-post' 3 %}

            </div><!-- /.blog-main -->
            {% include 'blog/partials/sidebar.html' %}

        </div><!-- /.row -->


    </main><!-- /.container -->
{% endblock %}