{% extends 'admin/base.html' %}
{% block content %}
    {% load dashboard %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 10px">
               <div class="card-header row">
            <div class="col">
                <h2 class="display-5">{% t 'menu' %} {% t 'add_or_update' %}</h2>
            </div>
            <div class="col text-right">

            </div>
        </div>
                <div class="card-body">
                     <form method="post">
                       {% csrf_token %}
                         <div class="row">
                             <div class="col-md-3">
                                 {{ form.title|as_crispy_field }}
                             </div>
                             <div class="col-md-3">
                                 {{ form.location|as_crispy_field }}
                             </div>
                               </div>
                             <div class="row">
                                 <div class="col text-right">
                                     <button class="btn btn-primary" type="submit"><i class="fas fa-save"></i> {% t 'save'%}</button>
                                 </div>
                         </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}