{% extends 'admin/base.html' %}
{% block content %}
    {% load dashboard %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 10px">
                <div class="card-header row">
                    <div class="col">
                        <h2 class="display-5">{% t 'menu' %}</h2>
                    </div>
                    <div class="col text-right">

                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <h3>मेनुसूचीमा बस्तुहरू थप्नुहोस </h3>
                            <div class="accordion" id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne" data-toggle="collapse"
                                         data-target="#collapseOne"
                                         aria-expanded="false" aria-controls="collapseOne">
                                        <h5 class="mb-0">
                                            <button class="btn">
                                                <strong>पानाहरू</strong>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse" aria-labelledby="collapseOne"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <form action="{% url 'add_menu_item_page' menu.id %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group row">
                                                    {{ page_form.menu_id }}
                                                    <div class="col-8">{{ page_form.page_id|as_crispy_field }}</div>
                                                    <div class="col-4 text-right">
                                                        <button style="margin-top: 40px" class="btn btn-primary btn-sm"
                                                                type="submit"><i class="fas fa-plus"></i> थप गर्ने
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo" data-toggle="collapse"
                                         data-target="#collapseTwo" aria-expanded="false"
                                         aria-controls="collapseTwo">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed">
                                                <strong>वर्गहरु</strong>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="collapseTwo"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <form action="{% url 'add_menu_item_cat' menu.id %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group row">
                                                    {{ cat_form.menu_id }}
                                                    <div class="col-8">{{ cat_form.category_id|as_crispy_field }}</div>
                                                    <div class="col-4 text-right">
                                                        <button style="margin-top:40px" class="btn btn-primary btn-sm"
                                                                type="submit"><i class="fas fa-plus"></i> थप गर्ने
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree" data-toggle="collapse"
                                         data-target="#collapseThree" aria-expanded="false"
                                         aria-controls="collapseThree">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed">
                                                <strong>अन्य लिंकहरु </strong>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <form action="{% url 'add_menu_item_link' menu.id %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group row">
                                                    {{ form.menu_id }}
                                                    <div class="col-6">{{ form.title|as_crispy_field }}</div>
                                                    <div class="col-6">{{ form.link|as_crispy_field }}</div>
                                                    <div class="col-12 text-right">
                                                        <button class="btn btn-primary btn-sm" type="submit"><i
                                                                class="fas fa-plus"></i> थप गर्ने
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 bg-light" style="padding-top: 20px">
                            <div class="accordion" id="items">
                                {% if items %}
                                    {% for item in items %}
                                        <div class="card" id="item-{{ item.id }}">
                                            <div class="card-header" id="item-{{ item.id }}" data-toggle="collapse"
                                                 data-target="#item-form-{{ item.id }}"
                                                 aria-expanded="false" aria-controls="item-form-{{ item.id }}">
                                                <h6 class="mb-0">
                                                    <button class="btn">
                                                        <strong>{{ item.title }}</strong>
                                                    </button>
                                                </h6>
                                            </div>

                                            <div id="item-form-{{ item.id }}" class="collapse"
                                                 aria-labelledby="item-form-{{ item.id }}"
                                                 data-parent="#items">
                                                <div class="card-body">
                                                    <form action="{% url 'change_menu_item' item.id %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group row">
                                                            <div class="col-6">
                                                                <label>{% t 'title' %}*</label>
                                                                <input type="text" name="title"
                                                                       value="{{ item.title }}"/>
                                                            </div>
                                                            <div class="col-6">
                                                                <label>{% t 'parent' %}</label>
                                                                <select name="parent" class="">
                                                                    <option value="">---</option>
                                                                    {% for item in items %}
                                                                        <option value="{{ item.id }}">{{ item.title }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="col-6">
                                                                <label>{% t 'order' %}*</label>
                                                                <input type="text" name="order"
                                                                       value="{{ item.order }}"/>
                                                            </div>
                                                            <div class="col-6 text-right">
                                                                <a style="margin-top: 40px;"
                                                                   class="btn btn-danger btn-sm ld-ext-right confirm-link"
                                                                   href="{% url 'delete_menu_item' item.id %}">
                                                                    {% t 'remove' %}
                                                                    <span class="ld"></span>
                                                                </a>
                                                                <button style="margin-top: 40px"
                                                                        class="btn btn-primary btn-sm"
                                                                        type="submit"><i class="fas fa-save"></i> Update
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        {% if item.has_children %}
                                            {% for child in item.children %}
                                                <div style="margin-left: 50px" class="card" id="item-{{ child.id }}">
                                                    <div class="card-header" id="item-{{ child.id }}"
                                                         data-toggle="collapse"
                                                         data-target="#item-form-{{ child.id }}"
                                                         aria-expanded="false" aria-controls="item-form-{{ child.id }}">
                                                        <h6 class="mb-0">
                                                            <button class="btn">
                                                                <strong>{{ child.title }}</strong>
                                                            </button>
                                                        </h6>
                                                    </div>

                                                    <div id="item-form-{{ child.id }}" class="collapse"
                                                         aria-labelledby="item-form-{{ child.id }}"
                                                         data-parent="#items">
                                                        <div class="card-body">
                                                            <form action="{% url 'change_menu_item' child.id %}"
                                                                  method="post">
                                                                {% csrf_token %}
                                                                <div class="form-group row">
                                                                    <div class="col-6">
                                                                        <label>{% t 'title' %}</label>
                                                                        <input type="text" name="title"
                                                                               value="{{ child.title }}"/>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <label>{% t 'parent' %}</label>
                                                                        <select name="parent" class="">
                                                                            <option value="">---</option>
                                                                            {% for item in items %}
                                                                                <option value="{{ item.id }}">{{ item.title }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <label>{% t 'order' %}</label>
                                                                        <input type="text" name="order"
                                                                               value="{{ child.order }}"/>
                                                                    </div>
                                                                    <div class="col-6 text-right">
                                                                        <a style="margin-top: 40px;"
                                                                           class="btn btn-danger btn-sm ld-ext-right confirm-link"
                                                                           href="{% url 'delete_menu_item' child.id %}">
                                                                            {% t 'remove' %}
                                                                            <span class="ld"></span>
                                                                        </a>
                                                                        <button style="margin-top: 40px"
                                                                                class="btn btn-primary btn-sm"
                                                                                type="submit"><i
                                                                                class="fas fa-save"></i> {% t 'update' %}
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p class="text-danger">
                                        <strong>There are no Items. Try adding one.</strong>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>$("#items").sortable();</script>
{% endblock %}