<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Readers Club Nepal</title>
    {% load static %}
    {% load dashboard %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yantramanav&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-confirm/jquery-confirm.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/toastr/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <style rel="stylesheet">
        body {
            font-family: 'Yantramanav', Source Sans Pro;
            font-size: 18px;
        }
    </style>
     <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
</head>
<body class="hold-transition sidebar-mini">
<input type="hidden" value="{{ csrf_token }}" id="csrf_token">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                    <i class="fas fa-bars"></i></a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <a class="text-danger" href="{% url 'logout' %}"><i class="fas fa-door-open"></i> {% t 'logout' %}</a>
            </li>
        </ul>


    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary">
        <!-- Brand Logo -->
        <div class="logo-holder">
            <img src="{% static 'logo.png' %}" alt="RCN" class="brand-image" width="50px">
            <span class="brand-text text-white"><strong>Reader's Club Nepal</strong></span>

        </div>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="{% static 'user.svg' %}" class="" alt="">
                </div>
                <div class="info">
                    <a href="#" class="d-block text-primary">{{ user.get_full_name }}</a>
                    <span class="help-tooltip text-danger">
                        {% if user.is_superuser %}
                            {% t 'superuser' %}
                        {% endif %}
                        {% if user.admin %}
                            {% t 'admin' %}
                        {% endif %}
                        {% if user.editor %}
                            {% t 'editor' %}
                        {% endif %}
                    </span>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    {% sidebar_menu %}

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- Default to the left -->
        <strong>{% t 'copyright_text' %}</strong>
    </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminlte/dist/js/adminlte.min.js' %}"></script>

<script src="{% static 'jquery-confirm/jquery-confirm.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'script.js' %}"></script>
<script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                toastr.error('{{message}}')
            {% endif %}

            {% if message.tags == 'info' %}
                toastr.info('{{message}}')
            {% endif %}

            {% if message.tags == 'success' %}
                toastr.success('{{message}}')
            {% endif %}

            {% if message.tags == 'warning' %}
                toastr.warning('{{message}}')
            {% endif %}
        {% endfor %}
    {% endif %}

    $('.confirm-link').on('click', function (e) {
        var el = $(this)
        el.addClass('running')
        e.preventDefault();
        console.log(el.attr('href'))
        $.confirm({
            title: "{% t 'are_you_sure' %}",
            content: "{% t 'wish_to_continue' %}",
            buttons: {
                confirm: {
                    action: function () {
                        $.post(el.attr('href'), {'csrfmiddlewaretoken': $("#csrf_token").val()}).done(function (data) {
                            if (data.success == true) {
                                toastr.success(data.message)
                                if (data.url != undefined) {
                                    location.href = data.url
                                }
                                if (data.id != undefined) {
                                    $("#item-" + data.id).remove()
                                }
                            } else {
                                toastr.error(data.message)
                            }
                        }).fail(function () {
                            toastr.error("Action not completed.")
                        })
                        el.removeClass('running')
                    },
                    btnClass: 'btn btn-danger btn-sm'
                },
                cancel: {
                    action: function () {
                        el.removeClass('running')
                    },
                    btnClass: 'btn btn-primary btn-sm'
                }
            }
        });
    });

    $(document).ready(function (){
        $('#btn-browser').on("click", function (){
            const el = $(this)
            url = el.data('url')
            window.open(url, '', 'width=800,height=500')
        });
    })
</script>
</body>
</html>
