{% extends 'admin/base.html' %}
{% block content %}
    {% load dashboard %}
    <div class="row">
        <div class="col-12">
            <div class="card" style="margin-top: 10px">
               <div class="card-header row">
            <div class="col">
                <h2 class="display-5">{% t 'categories' %}</h2>
            </div>
            <div class="col text-right">
                <a class="btn btn-sm btn-primary" href="{% url 'add_category'  %}"> <i class="fas fa-plus-circle"></i> New</a>
            </div>
        </div>
                <div class="card-body">
                    {% if categories %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% t 'sn' %}</th>
                                <th>{% t 'name' %}</th>
                                <th>{% t 'code' %}</th>
                                <th colspan="3">{% t 'actions' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for category in categories %}
                                <tr id="item-{{ category.id }}">
                                    <td>{{ forloop.counter|nd }}</td>
                                    <td>{{ category.name}}</td>
                                    <td>{{ category.slug }}</td>
                                    <td width="30px">{% edit_btn 'category' category.id 'sm' %}</td>
                                    <td width="30px">{% delete_btn 'category' category.id 'sm' %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    {% else %}
                        <p class="text-danger">
                            <strong>There are no Categories.</strong>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}